<div class="container">
    <h1>Welcome Admin</h1>
 
   <div class="container">
       <h5>Here we can see the product list and can delete a particular product. We can also add any new Product.</h5>        
        <div class="row">
            <div class="col-md-8">
                <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Function</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Display Products</td>
                                <td><a href="/admin/display" class="btn btn-block btn-primary">Display Prod</a></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Add Product</td>
                                <td><a href="/admin/additem" class="btn btn-block btn-primary">Add Prod</a></td>
                            </tr>
      
                        </tbody>
                </table>

            </div>
            
            <div class="col-md-4"></div>

        </div>
    </div>

</div>