<div class="jumbotron text-center">
    <h1 > <b><i>Welcome to Admin Pannel </i></b></h1>
    <div class="container">
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading"><span class="glyphicon glyphicon-user">   <b><i>New Admin can signup here.</i></b></span></div>
                <div class="panel-body"><a href="/admin/signup" class="btn btn-success btn-lg btn-block">Register</a></div>
            </div>
        </div>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading"><span class="glyphicon glyphicon-log-in">   <b><i>Admin can login here.</i></b></span></div>
                <div class="panel-body"><a href="/admin/login" class="btn btn-success btn-lg btn-block">Login</a></div>
            </div>
        </div>
    </div>
  </div>