{{>message}}
<h1>Hello I am Index Page</h1>

<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias totam a illum nulla consequuntur consectetur iste blanditiis pariatur ullam. Cumque omnis, quasi porro sint perferendis recusandae sunt unde vel debitis.</h1>
<div class="container">
    <form action="/admin/test" method="POST">
    <input type="text" name="name" placeholder="enter any thingh">
    <button type="submit" class="btn btn-block">Press me</button>
</form>

</div>