<div class="container">
    <h1>Welcome to Profile Page</h1>
 
        <div class="row">
        <div class="col-md-8">
            <p>Hope you like thi</p>
        </div>
        
    </div>   
  
    <div class="container"><p>Soon will display the ordered history in profile page</p></div>
</div>